ACCESS_POINT = '<ACCESS POINT ID>'
AUTH_TOKEN = '<GENERATED_AUTH_TOKEN>'

#Level			Numeric value
#CRITICAL 		50
#ERROR 			40
#WARNING 		30
#INFO 			20
#DEBUG 			10
#NOTSET 		0
LOGGING_LEVEL = 10
LOGGING_FILENAME = None