requests==2.25.0
websocket-client==0.57.0
async_timeout==3.0.1
websockets==8.1
aiohttp==3.7.3
aiohttp_wsgi==0.8.2
aenum==2.2.6
pytest==6.2.0
pytest-asyncio==0.14.0
pytest-cov==2.10.1
pytest_aiohttp==0.3.0
pytest-rerunfailures==9.1.1
versioneer==0.19
